				h1                                       			/* type selector */
				{
					color:white;
					background-color:purple;
					text-size:large;
					text-align:center;
					font-size:25px;
				}
				h4
				{
					text-align:center;
				}
				table							   /* type selector */
				{
					text-align:right;
				}
				.btn                                                             /* class selector*/
				{
					background-color:purple;
					color:white;
					border-radius:10px 10px;
				}
				*									/* universal selector*/
				{
					font-family:Segoe UI;
					font-size:15px;
				}
